:root {
    --background: #F7F2F2;
}

.body_container .hr1 {
    margin-top: -1em;
    border: 0;
    border-top: 1px solid black;
}

.body_container h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.body_container p {
    margin-bottom: 0.5em;
}

.body_container .quote {
    margin-bottom: 0.5em;
}

.quotes {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 20px !important;
}

.class {
}