<header class="site-header">
    
    <div class="wrapper">
        
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <div class="site-title">
        <img class="thumbnail" src="/src/pics/me.jpg" style="border-radius: 25px;" height="50" width="50">
        <a class="header-thumb-link" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
  
      {%- if titles_size > 0 -%}    
        
        <nav class="site-nav">
  
          <div class="trigger">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </nav>
      {%- endif -%}
    </div>

    <div class="header">
      <div class="header_icon_name">
        <img src="/src/pics/me.jpg" style="border-radius: 25px;" class="thumbnail" height="50" width="50">
        <a href=/index.html>
          <b>
            Per Joachims
          </b>
        </a>
      </div>
      <div class="header_other">
        <a href="/doc/build/html/index.html">Blog</a>
        <a href="/assets/html/cv.html" >CV</a>
        <a href="/assets/html/personal.html" >Personal</a>
      </div>
    </div>
  </header>