:root {
    --background: #F2F2F2;
}
ul {
    margin-left: 20px !important;
}

.cv_elem_flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.date_loc {
    margin-left: 10px;
    width: 20%;
}
@media (max-width: 600px) {
    .date_loc {
        min-width: 140px;
        max-width: 140px;
        margin-right: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .date_loc {
        min-width: 200px;
        max-width: 200px;
    }
}
.elem_summary {
    margin-top: 0px;
    margin-bottom: 10px;

}
.sec_header {
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.hr1 {
    margin-top: -1px; 
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid black;
}

/*  Work */
    .work_right {
    }
    .work_details {
        margin-left: 10px;
    }
    
/*  Education */
    .edu_right {
        
    }
    .edu_details {
        margin-left: 10px;
    }
    .edu_details a{
        color: blue;
        text-decoration: none;
    }
    .pos{
        text-transform: uppercase;
        font-weight: 700;
    }
    .degree_name{
        text-transform: uppercase;
        font-weight: 700;
    }
    .degree_deg{
        font-weight: 700;
    }


/* Skill images */
    .skill_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skillim_row {
        /* float: left; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skillim_cell {
        padding: 0px;
        margin: 0px;
    }
    .skillim {
        max-width: 400px;
        height: auto;
    }
