---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Overwrites ----------------------------------------------------------------------
$font-stack: Roboto, sans-serif;
$primary-color: black;
$font-color: black;
$font-color2: grey;
$background-color: #F2F2F2;

body {
  font: 100% $font-stack;
  background-color: $background-color;
  color: $primary-color;
  min-width: 400px;
}

// Overwrites: header --------------------------------------------------------------
.site-header {
    .page-link {
        color:$font-color2;
        margin-left: 2em;
    }
    .header-thumb-link {
        color:$font-color;
    }
    .header-thumb-link:visited {
        color:$font-color;
    }
}
.site-title {
    color: $font-color2;
    font-weight: normal;    
    letter-spacing: 1px;

    .header-thumb-link {
        padding-left: 1em;
    }
}

// fix jumping scrollbar issue: https://aykevl.nl/2014/09/fix-jumping-scrollbar
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

.thumbnail:hover {
    position:relative;
    width:350px;
    height:auto;
    display:block;
    z-index:999;
}

work_experience.ul {
    list-style-type: circle !important;
    list-style-position: outside !important;
    margin-left: 10px !important;
}

.cv_elem_flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.date_loc {
    width: 20%;
}
@media (max-width: 600px) {
    .date_loc {
        min-width: 140px;
        max-width: 140px;
        margin-right: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .date_loc {
        min-width: 200px;
        max-width: 200px;
    }
}
.elem_summary {
    margin-bottom: 10px;
}
.sec_header {
    margin-bottom: 0px;
}
.hr1 {
    margin-bottom: 10px;
    margin-top: 3px;
    border: 0;
    border-top: 1px solid black;
}

/*  Work */
    .work_right {

    }
    .work_details {
        margin-left: 10px;
    }
    
    
/*  Education */
    .edu_right {
        
    }
    .edu_details {
        margin-left: 10px;
    }
    .pos{
        text-transform: uppercase;
        font-weight: 700;
    }
    .degree_name{
        text-transform: uppercase;
        font-weight: 700;
    }
    .degree_deg{
        font-weight: 700;
    }

/* Skill images */
    .skill_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skillim_row {
        /* float: left; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skillim_cell {
        padding: 0px;
        margin: 0px;
    }
    .skillim {
        max-width: 400px;
        height: auto;
    }



