---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

// Overwrites ----------------------------------------------------------------------
$font-stack: Roboto, sans-serif;
$primary-color: black;
$font-color: black;
$font-color2: grey;
$base-font-weight: 100;

body {
  min-width: 400px;
}

body, .site-nav {
  background-color: $background-color;
}

// fix jumping scrollbar issue: https://aykevl.nl/2014/09/fix-jumping-scrollbar
html, body {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow-y: scroll;

    @media (max-width: 600px) {
        margin-left: calc(50vw - 50%);
    }
}

i, em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

// Overwrites: header --------------------------------------------------------------
.site-header {
    border-top: 0px solid #e8e8e8;

    .page-link {
        color:$font-color2;
        margin-left: 1em;
        font-size: 1.25em;
        vertical-align: middle;
    }
    .header-thumb-link {
        color:$font-color;
    }
    .header-thumb-link:visited {
        color:$font-color;
    }
}
.site-title {
    color: $font-color2;
    font-weight: 300;    
    letter-spacing: 1px;

    .header-thumb-link {
        padding-left: 1em;
    }
}

.thumbnail:hover {
    position:relative;
    width:350px;
    height:auto;
    display:block;
    z-index:999;
}


input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 5px;
}

i {
    font-style: italic;
}

a {
	color: #1c5a54;
	text-decoration: none;
}
	a:visited{
	  color:#1c5a54;
	}
