:root {
    --background: #F2F2F2;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}
.body_container {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    font-size: 16px;
}
