:root {
    --background: #F2F2F2;
}
p {
    /* font-size: 18px; */
}

h1 {
    font-size: 20px;
}

a {
    color: blue;
    text-decoration: none;
}
.hr1 {
    margin-top: -1em;
    border: 0;
    border-top: 1px solid black;
}
